<br>
<br>
<br>
<ion-content padding >
  <br>
  <br>
  <ion-text class="one">Checkpoint</ion-text>
  <br><br>
  <p align="right">
    <ion-text class="one" (click)="addcp({})">Add + </ion-text>
  </p>

  <br><br>

  <!--<form>-->
    <!--<table border="0">-->
      <!--<tr align="center">-->
        <!--<td  bgcolor="#6495ed" width="400" height="45" >Check point</td>-->
        <!--<td  bgcolor="#6495ed" width="400" height="45" >Date</td>-->
        <!--<td  bgcolor="#6495ed" width="400" height="45" >Time</td>-->
      <!--</tr>-->
    <!--</table>-->
  <!--</form>-->
  <ion-item *ngFor="let n of datacplist">
    <ion-label (click)="cpdetail({cpids: n.cpID})">{{n.Episode_name}}{{n.Date_start}}{{n.Time_start}}</ion-label>
  </ion-item>

</ion-content>

