<ion-content padding >
<ion-title class="one">msu-register</ion-title>
<!--<ion-button  class="ion-button"(click)="fbconnect()" expand="block" >facebook connect</ion-button>-->
 <ion-item>
   <ion-label position="floating" >Name</ion-label>
     <ion-input [(ngModel)]="msuname"></ion-input>
 </ion-item>
 <ion-item>
   <ion-label position="floating" >Surname</ion-label>
     <ion-input [(ngModel)]="msusername"></ion-input>
 </ion-item>
    <ion-item>
        <ion-label position="floating" >password</ion-label>
        <ion-input [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating" >email</ion-label>
        <ion-input [(ngModel)]="email"></ion-input>
    </ion-item>
 <ion-item>
   <ion-label position="floating" >Phone</ion-label>
     <ion-input [(ngModel)]="phone"></ion-input>
 </ion-item>
    <br>
    <ion-row>
        <ion-col width-5>
            <ion-label position="floating" class="two" >Photo</ion-label>
            <!--<ion-input [(ngModel)]="img"></ion-input>-->
        </ion-col>
        <ion-col width-5>
            <ion-button expand="block" color="test1" (click)="photo()" >takephoto</ion-button>
            <ion-button expand="block" color="test1" (click)="clibary()" >libary</ion-button>
        </ion-col>
    </ion-row>
 <br>
<ion-fab>
    <ion-fab-button class="ion-fab-button" color="test" (click)="ok()">OK</ion-fab-button>
</ion-fab>
</ion-content>
