<ion-content padding >
<ion-title class="one">msu-register</ion-title>
<ion-button  class="ion-button"(click)="fbconnect()" expand="block" >facebook connect</ion-button>
 <ion-item>
   <ion-label position="floating" >Email</ion-label>
     <ion-input></ion-input>
 </ion-item>
 <ion-item>
   <ion-label position="floating" >Password</ion-label>
     <ion-input></ion-input>
 </ion-item>
 <ion-item>
   <ion-label position="floating" >Name-Surname</ion-label>
     <ion-input></ion-input>
 </ion-item>
 <ion-item>
   <ion-label position="floating" >Phone</ion-label>
     <ion-input></ion-input>
 </ion-item>
    <br>
 <ion-row>
   <ion-col width-5>
     <ion-label class="text" position="floating" >Photo</ion-label>
   </ion-col>
   <ion-col width-5>
     <ion-button expand="block" color="test1" >browse</ion-button>
   </ion-col>
 </ion-row>
 <br>
<ion-fab>
    <ion-fab-button class="ion-fab-button" color="test">OK</ion-fab-button>
</ion-fab>
</ion-content>
