
<ion-content padding>
  <ion-title class="ion-title1">Edit Profile</ion-title>
  <ion-avatar class="ion-avatar1" (click)="change()">
    <img src="{{img}}" >
  </ion-avatar>
  <ion-item>
    <ion-label position="floating" >Password</ion-label>
    <ion-input [(ngModel)]="password">{{oldpassword}}</ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" >Name</ion-label>
    <ion-input [(ngModel)]="name">{{oldname}}</ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" >Surname</ion-label>
    <ion-input [(ngModel)]="surname">{{oldsurname}}</ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" >Phone</ion-label>
    <ion-input [(ngModel)]="tel">{{oldtel}}</ion-input>
  </ion-item>
  <ion-fab>
    <ion-fab-button class="ion-fab-button" color="test" (click)="editprofile()">OK</ion-fab-button>
  </ion-fab>
</ion-content>
