.ion-button2{
  width: 220px;
  height: 50px;
  border-radius: 50%;
  margin: 0 auto;
}
.ion-avatar1{
  width: 140px ;
  height : 140px ;
  margin: 0 auto;
}
ion-button{
  width: 220px;
  height: 50px;
  margin: 0 auto;
}
.ion-title1{
  text-align:center;
  font-size: 30px;
}
