<ion-header>
  <ion-toolbar  class="Hbar" slot="start">
    <ion-buttons>
      <ion-back-button defaultHref="showprofile"></ion-back-button>
      <ion-title>Edit Profile</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <br>
  <ion-title class="ion-title1">Edit Profile</ion-title>
  <br>
  <ion-avatar class="ion-avatar1" (click)="change()">
    <img src="{{img}}" >
  </ion-avatar>
  <ion-item>
    <ion-label position="fixed">Password</ion-label>
    <ion-input [(ngModel)]="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed" >Name</ion-label>
    <ion-input [(ngModel)]="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed" >Surname</ion-label>
    <ion-input [(ngModel)]="surname"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed" >Phone</ion-label>
    <ion-input [(ngModel)]="tel"></ion-input>
  </ion-item>
  <br>
  <ion-button expand="block" class="ion-button" color="secondary" (click)="editprofile()">OK</ion-button>
</ion-content>
<ion-footer >
  <ion-toolbar class="Hbar">
    <ion-tab-button no-padding="" slot="start">
      <ion-icon name="home" [routerLink]="'/home'"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button no-padding="">
      <ion-icon name="calendar" [routerLink]="'/myevent'"></ion-icon>
      <ion-label>อีเว้น</ion-label>
    </ion-tab-button>

    <ion-tab-button no-padding=""slot="end">
      <ion-icon name="paper" [routerLink]="'/report'"></ion-icon>
      <ion-label>รายงาน</ion-label>
    </ion-tab-button>

  </ion-toolbar>
</ion-footer>

