<ion-content padding>
  <br>
  <br>
  <ion-text class="one">join event</ion-text>
  <br>
  <br>
  <ion-item *ngIf="c == '1' ">
    <ion-label position="floating" class="text" >A1 &nbsp {{datapass.eq1}}</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item *ngIf="c == '1' ">
    <ion-label position="floating" class="text"></ion-label>
    <ion-input [(ngModel)]="q1"></ion-input>
  </ion-item>
  <ion-item *ngIf="c2 == '1' ">
    <ion-label position="floating" class="text" >A2 &nbsp{{datapass.eq2}}</ion-label>
  </ion-item>
  <ion-item *ngIf="c2 == '1' ">
    <ion-label position="floating" class="text"></ion-label>
    <ion-input [(ngModel)]="q2"></ion-input>
  </ion-item>
  <br>
  <br>
  <br>
  <ion-button expand="block" color="medium" (click)="ok()">OK</ion-button>
</ion-content>
