.ion-avatar{
  width: 20px ;
  height : 20px ;

}
.ion-title{
  text-align:center;
  //width: 20px ;
  //height : 20px ;
  font-size: 30px;
}
.ion-avatar1{
  width: 140px ;
  height : 140px ;
  margin: 0 auto;
}
//.row{
//  margin-top: 10px;
//}
.ion-button{
  width: 150px;
  height: 30px;
  border-radius: 20%;
  margin: 0 auto;
}
.ion-fab-button{
  margin: 130px;
  width: 100px;
  height: 100px;
  position: center;
  margin-top: 50px;
}
