.ion-avatar{
  position: center;
  margin: 0px;
  width: 20px ;
  height : 20px ;
  margin-top: 100px;
  margin-bottom: 20px;

}
.ion-title{
  position: center;
  margin: 80px;
  //width: 20px ;
  //height : 20px ;
  font-size: 30px;
  margin-top: 90px;
  margin-right: 0px;
  margin-bottom: 20px;
}
.ion-avatar1{
  position: center;
  margin: 100px;
  width: 140px ;
  height : 140px ;
  margin-top: 30px;
  margin-bottom: 30px;
}
.row{
  margin-top: 10px;
}
.ion-button{
  margin: 50px;
  width: 220px;
  height: 50px;
  border-radius: 50%;
  position: center;
}
.ion-fab-button{
  margin: 130px;
  width: 100px;
  height: 100px;
  position: center;
  margin-top: 50px;
}
.ion-item{
  margin-top: 10px;
}
