<ion-content padding>
  <ion-row class="row">
    <ion-col width-10>
       <ion-title class="ion-title">My Profile</ion-title>
    </ion-col>
    <ion-col width-10>
      <ion-avatar class="ion-avatar" >
        <img src="https://cdn1.iconfinder.com/data/icons/freeline/32/Settings_gear_setting_tools-256.png" (click)="myprofile()">
      </ion-avatar>
    </ion-col>
  </ion-row>
  <ion-avatar class="ion-avatar1" >
    <img src="https://i.pinimg.com/originals/42/75/7e/42757ea05b2d99e839725172c38b6bc0.jpg" >
  </ion-avatar>
  <ion-item>
    <ion-label position="floating" >Name</ion-label>
    {{myname}}
  </ion-item>
  <ion-item>
    <ion-label position="floating" >Surname</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" >Phone</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" >MSU ID</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-fab>
    <ion-fab-button class="ion-fab-button" color="test">OK</ion-fab-button>
  </ion-fab>
</ion-content>
