.ion-fab-button{
  margin: 110px;
  margin-top: 20px;
  width: 100px;
  height: 100px;
  position: center;
}
.one{
  //position: center;
  margin: 115px;
  font-size: 25px;
}
.two{
  position: center;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 10px;
}
