<ion-content padding >
  <br>
  <br>
  <ion-text class="one">Register</ion-text>
  <br>
  <br>
  <ion-button  class="ion-button" (click)="fbconnect()" expand="block" >facebook connect</ion-button>
  <br>
  <form [formGroup]="g">
  <ion-item>
    <ion-label position="floating" class="text">Email</ion-label>
    <ion-input type="email" formControlName="email" [(ngModel)]="email"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="floating" class="text">password</ion-label>
    <ion-input formControlName="password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="floating" class="text">name</ion-label>
    <ion-input formControlName="name" [(ngModel)]="name"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="floating" class="text">surname</ion-label>
    <ion-input formControlName="surname" [(ngModel)]="surname"></ion-input>
  </ion-item>
  </form>
  <br>
  <ion-item>
    <ion-label position="floating" class="text">phone</ion-label>
    <ion-input [(ngModel)]="phone"></ion-input>
  </ion-item>
  <br>
  <br>
  <ion-row>
    <ion-col width-5>
      <ion-label position="floating" class="two" >Photo</ion-label>
      <ion-input [(ngModel)]="img"></ion-input>
    </ion-col>
    <ion-col width-5>
      <ion-button expand="block" color="test1" (click)="photo()" >takephoto</ion-button>
      <ion-button expand="block" color="test1" (click)="clibary()" >libary</ion-button>
    </ion-col>
  </ion-row>
  <br>
  <ion-fab>
    <ion-fab-button class="ion-fab-button" color="test" (click)="register()" [disabled]="g.invalid">OK</ion-fab-button>
  </ion-fab>
</ion-content>
