<ion-header>
  <ion-toolbar class="Hbar" slot="start">
    <ion-title>My App</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding >
  <br>
  <br>
  <ion-text class="one">Login</ion-text>
  <br>
  <br>
  <ion-item>
    <ion-label position="floating" class="text">Username</ion-label>
    <ion-input [(ngModel)]="username"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="floating" class="text">Password</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <br>
  <br>
  <br>
  <ion-row>
      <ion-col width-5>
        <ion-button expand="block" color="medium" (click)="login()">Login</ion-button>
      </ion-col>
      <ion-col width-5>
        <ion-button expand="block" color="warning" (click)="Register()">Register</ion-button>
      </ion-col>
  </ion-row>
  <br>
  <ion-button expand="block" color="medium" (click)="fblogin()">facebook</ion-button>
  <ion-button expand="block" color="medium" (click)="forgetp()">forget password?</ion-button>
</ion-content>
