
ion-button{
  width: 220px;
  height: 40px;
  margin: 0 auto;
}
ion-text{
  text-align:center;
  font-size: 25px;
}
.ion-fab-button{
  margin: 130px;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.one{
  position: center;
  margin: 130px;
  font-size: 25px;
}
