<ion-header>
  <ion-toolbar class="Hbar" slot="start">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding >
  <br>
  <ion-text><div>MSU Member</div></ion-text>
  <br>
  <br>
  <br>
  <!--<ion-item>-->
  <!--<ion-label position="floating" class="text">MSU ID</ion-label>-->
  <!--<ion-input [(ngModel)]="musid"></ion-input>-->
  <!--</ion-item>-->
  <!--<br>-->
  <!--<br>-->
  <ion-item>
    <ion-label position="fixed" class="text">username</ion-label>
    <ion-input [(ngModel)]="msuusername"></ion-input>
  </ion-item>
  <br>
  <br>
  <ion-item>
    <ion-label position="fixed" class="text">Password</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <br>
  <br>
  <ion-fab>
    <ion-fab-button class="ion-fab-button" color="test" (click)="Ok()">OK</ion-fab-button>
  </ion-fab>
</ion-content>
