<ion-content padding >
  <br>
  <ion-text class="one">Welcome To My App</ion-text>
  <br>
  <br>
  <br>
  <ion-button expand="block" class="ion-button" color="medium" (click)="login()">Login</ion-button>
  <br>
  <br>
  <ion-text class="ion-text"> OR </ion-text>
  <br>
  <br>
  <ion-button expand="block" class="ion-button" color="medium" (click)="Register()">Register</ion-button>
  <ion-button expand="block" class="ion-button" color="medium" (click)="beacon()">beacon</ion-button>
  <ion-button expand="block" class="ion-button" color="medium" (click)="test()">test</ion-button>
</ion-content>
