<ion-header>
  <ion-toolbar class="Hbar" slot="start">
    <ion-title>My App</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding="center">
  <br>
  <br>
  <ion-text><div>Welcome To My App</div></ion-text>
  <br>
  <br>
  <ion-button expand="block" class="ion-button" color="secondary" (click)="login()">Login</ion-button>
  <br>
  <ion-text class="one"><div>OR</div></ion-text>
  <br>
  <ion-button expand="block" class="ion-button" color="" (click)="Register()">Register</ion-button>
</ion-content>
