<ion-content padding >
  <br>
  <form>
    <table align="right" border="0" >
      <tr align="left">
        <td ></td><td width="60" height="30">Date </td><td>{{dstart}}</td><td>|</td><td>{{dstop}}</td>
      </tr>
      <tr align="left">
        <td ></td><td width="60" height="30">Time </td><td>{{tstart}}</td><td>|</td><td>{{tstop}}</td>
      </tr>
      <tr align="left">
        <td ><td width="60" height="30">Status </td><td>{{status}}</td><td>
      </tr>
    </table>
  </form>

  <p align="left">
    <ion-text class="one">{{name}}</ion-text>
  </p>
  <br>

  <!--<p align="left">-->
    <!---->
      <!--<ion-label position="floating" class="text">Detail</ion-label>-->
      <!--<ion-label position="floating" class="text">{{detail}}</ion-label>-->

  <!--</p>-->
  <ion-row>
    <ion-col>
      <ion-button (click)="edit()">edit</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="delete()">delete</ion-button>
    </ion-col>
  </ion-row>
  <br>
  <br>
  <ion-text class="one">codeID : {{codeid}}</ion-text>
  <ngx-qrcode
          [qrc-element-type]="elementType"
          [qrc-value]="codeid">
  </ngx-qrcode>
  <br>
  <br>
  <ion-row>
    <ion-col>
      <ion-button expand="block" color="warning" (click)="cp()">Check point</ion-button>
    </ion-col>
  </ion-row>
  <br>
  <ion-row>
    <ion-col>
      <ion-button expand="block" color="warning" (click)="showmember()">Member</ion-button>
    </ion-col>
  </ion-row>
  <br>
  <ion-row>
    <ion-col>
      <ion-button expand="block" color="warning" (click)="approval()">Waiting for approval<br>(Optional)</ion-button>
    </ion-col>
  </ion-row>

</ion-content>

