<br>
<ion-content padding >
  <br>
  <form>
    <table align="right" border="0" >
      <tr align="left">
        <td ></td><td width="60" height="30">Date </td><td>Start</td><td>|</td><td>End</td>
      </tr>
      <tr align="left">
        <td ></td><td width="60" height="30">Time </td><td>Start</td><td>|</td><td>End</td>
      </tr>
      <tr align="left">
        <td ><td width="60" height="30">Status </td><td>Public</td><td>|</td><td>Private</td>
      </tr>
    </table>
  </form>

  <p align="left">
    <ion-text class="one">Check point name</ion-text>
  </p>
  <br>

  <p align="left">
    <ion-item>
      <ion-label position="floating" class="text">Event name</ion-label>
      <ion-input ></ion-input>
    </ion-item>
  </p>
  <br>

  <ion-item>
    <ion-label>Time for check</ion-label>
    <ion-select>
      <ion-select-option value="15">15.00</ion-select-option>
      <ion-select-option value="17">17.00</ion-select-option>
    </ion-select>
  </ion-item>
  <br><br><br>
  <form>
    <table align="center" border="0" >
      <tr align="center">
        <td bgcolor="#6495ed" width="400" height="40" >ผู้เช็คชื่อ</td>
      </tr>
      <tr align="center">
        <td width="60" height="30">คนเช็คชื่อคนที่ 1</td>
      </tr>
    </table>
  </form>


  <br>
  <br>
  <br>
  <ion-row>
    <ion-col>
      <ion-button expand="block" color="warning" (click)="st()">Start Check </ion-button>
    </ion-col>
  </ion-row>


</ion-content>
