<ion-header>
  <ion-toolbar>
    <ion-title>checkpoint-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-text>checkpoint name</ion-text>
<br>
  <ion-text>event name</ion-text>
<br>
  <ion-text>Date</ion-text>
<br>
  <ion-text>time</ion-text>
<br>
  <ion-text>status</ion-text>
  <br>
  <ion-item>
    <ion-label>time for check(min)</ion-label>
    <ion-select>
      <ion-select-option>1</ion-select-option>
      <ion-select-option>5</ion-select-option>
      <ion-select-option selected>10</ion-select-option>
      <ion-select-option>15</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>checker</ion-label>
  </ion-item>
  <ion-button>Start Check</ion-button>


</ion-content>
