<ion-content padding >
  <br>
  <br>
  <ion-text class="one">New Check point</ion-text>
  <br><br>
  <br><br>
  {{eid}}
  <ion-item>
    <ion-label position="floating" class="text">Name</ion-label>
    <ion-input [(ngModel)] ="name"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="floating" class="text">Date</ion-label>
    <ion-input  [(ngModel)]="date"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="floating" class="text">Time Start</ion-label>
    <ion-input  [(ngModel)]="timestart"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="floating" class="text">Time Stop</ion-label>
    <ion-input  [(ngModel)]="timestop"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="floating" class="text">Area</ion-label>
    <ion-input  [(ngModel)]="area"></ion-input>
  </ion-item>
  <br>
  <br>
  <ion-text class="two">หมายเหตุ: near 10-19 m, mediam 20-30 m, far 30-50 m</ion-text>
  <br><br><br><br>
  <ion-row>
    <ion-col width-5>
      <ion-button expand="block" color="medium" (click)="newcp()">OK</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
