<ion-content padding>
  <ion-text class="itext">Checking...</ion-text>
  <br>
  <br>
  <ngx-qrcode
          [qrc-element-type]="elementType"
          [qrc-value]="qrData + attendlat + attendlong">
  </ngx-qrcode>
  <br>
  <!--<ion-avatar>-->
    <!--<img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" (click)="encodedText()">-->
  <!--</ion-avatar>-->
  <br>
  <br>
  <br>
  <br>
  <br>
  <ion-row>
    <ion-col>
      <ion-button (click)="startbeacon()" class="ibutton">Start</ion-button>
    </ion-col>
    <ion-col >
      <ion-button (click)="stopbeacon()" class="ibutton">Stop</ion-button>
    </ion-col>
  </ion-row>
  <ion-button (click)="home()" class="ibutton">home</ion-button>
</ion-content>
