<br>
<ion-content padding >
  <br>
  <form>
    <table align="right" border="0" >
      <tr align="left">
        <td ></td><td width="60" height="30">Date </td><td>{{dstart}}</td><td>|</td><td>{{dstop}}</td>
      </tr>
      <tr align="left">
        <td ></td><td width="60" height="30">Time </td><td>{{tstart}}</td><td>|</td><td>{{tstop}}</td>
      </tr>
      <tr align="left">
        <td ><td width="60" height="30">Status </td><td>{{status}}</td>
      </tr>
    </table>
  </form>

  <p align="left">
    <ion-text class="one">{{ename}}</ion-text>
  </p>
  <ion-row>
    <ion-col>

    </ion-col>
    <ion-col>
      <ion-button (click)="delete()">delete</ion-button>
    </ion-col>
  </ion-row>
  <br>

  <p align="left">
    <ion-item>
      <ion-label position="floating" class="text">Detail</ion-label>
      <ion-text>{{detail}}</ion-text>
    </ion-item>
  </p>
  <br>
  <br>
  <ion-item *ngFor="let n of cplist">
    <ion-label (click)="cpuuid({cpid: n.cpID})">{{n.name}} {{n.Time_start}}</ion-label>
  </ion-item>
  <!--{{joinIDs}}-->
  <br>
  <ion-row>
    <ion-col>
      <ion-button expand="block" color="warning" (click)="check()">Check point</ion-button>
    </ion-col>
  </ion-row>


</ion-content>
