.ion-avatar{
  margin: 0 auto;
  width: 140px ;
  height : 140px ;
}
.ion-button1{
  //margin: 40px;
  //width: 120px;
  height: 120px;
  //position: center;
  //margin-left: 2px;
  //--background: transparent;
  //--ion-color-base: transparent !important;
}
ion-text{
  text-align:center;
  font-size: 35px;
}
.one{
  position: center;
  margin: 120px;
}
