.ion-avatar{
  position: center;
  margin: 100px;
  width: 140px ;
  height : 140px ;
  margin-top: 50px;
  margin-bottom: 90px;
}
.ion-button1{
  //margin: 40px;
  //width: 120px;
  height: 120px;
  //position: center;
  //margin-left: 2px;
  //--background: transparent;
  //--ion-color-base: transparent !important;
}
.ion-text{
  position: center;
  margin: 80px;
  font-size: 40px;
}
.one{
  position: center;
  margin: 120px;
}
