<ion-content padding>
  <br>
  <br>
  <br>
  <ion-text class="ion-text" >Welcome</ion-text>
  <ion-avatar class="ion-avatar" >
    <img src="https://i.pinimg.com/originals/42/75/7e/42757ea05b2d99e839725172c38b6bc0.jpg" (click)="profile()">
  </ion-avatar>
  <ion-row>
    <ion-col width-10>
      <ion-button expand="block" color="medium" class="ion-button1" (click)="NewEvent()">New Event</ion-button>
    </ion-col>
    <ion-col width-10>
      <ion-button expand="block" color="warning" class="ion-button1" (click)="JoinEvent()">Join Event</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col width-10>
      <ion-button expand="block" color="medium" class="ion-button1" (click)="MyEvent()">My Event</ion-button>
    </ion-col>
    <ion-col width-10>
      <ion-button expand="block" color="warning" class="ion-button1" (click)="Report()">Report</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
