<ion-content padding>
  <ion-title>New Event</ion-title>
  <ion-label>Name</ion-label>
  <ion-input></ion-input>
  <ion-item>
    <ion-label>Date</ion-label>
    <ion-datetime displayFormat="MMM DD, YYYY "></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Time</ion-label>
    <ion-datetime displayFormat="HH:mm" ></ion-datetime>
  </ion-item>
  <ion-label>Detail</ion-label>
  <ion-input></ion-input>
  <ion-item>
  <ion-label>Status</ion-label>
  <ion-select-option></ion-select-option>
  </ion-item>
  <ion-label>Info(Option)</ion-label>
  <ion-input>คำถาม1</ion-input>
  <ion-input>คำถาม2</ion-input>
  <ion-avatar class="location">
    <img src="https://cdn0.iconfinder.com/data/icons/typicons-2/24/arrow-forward-512.png" >
  </ion-avatar>
</ion-content>
