<ion-content padding>
  <br>
  <br>
  <ion-text class="one">Register</ion-text>
  <br>
  <br>
  <ion-button expand="block" class="ion-button" color="secondary tint" (click)="member()" )>New member</ion-button>
  <ion-button expand="block" class="ion-button" color="light" (click)="msu()" )>MSU member</ion-button>
  <br>
  <br>
  <ion-text class="ion-text"> OR </ion-text>
  <br>
  <br>
  <ion-button expand="block" class="ion-button" color="vibrant" (click)="login()">login</ion-button>
</ion-content>
